name: Build and Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  # Building binaries and creating a release on GitHub
  build-binaries:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Build Linux Binary
        run: |
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 \
          go build -o ssh-manager-linux-amd64 ./cmd/server

      - name: Build Windows Binary
        run: |
          CGO_ENABLED=0 GOOS=windows GOARCH=amd64 \
          go build -o ssh-manager-windows-amd64.exe ./cmd/server

      - name: Build Changelog
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ssh-manager-linux-amd64
            ssh-manager-windows-amd64.exe
          generate_release_notes: true
          body: |
            Check out the binaries below. Full documentation is in the repository.

            ---
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # Building and pushing a Docker image
  publish-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/ssh-manager:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/ssh-manager:${{ github.ref_name }}
